*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banno{
    font-family: Calibri;
    background-color: #F3F3F0;
    width: 750px;
    margin: auto;
    height: 1150px;
}

.logo{
    background-color: #8abbca;
    width: 700px;
    height:100px;
    margin: auto;
}

.logo img{
    width:200px;
    margin: 10px 10px;
    padding-left: 10px;
    padding-top:18px;
    padding-bottom:19px;
}

.menu{
    background-color: #3c444b;
    width:700px;
    height: 50px;
    margin:auto;
    overflow: hidden;
}

.menu ul{
    width:900px;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    float:left;
    color: white;
    font-size:17px;
    margin-right: 10px;
    padding-right: 42px;
    padding-left: 28px;
    padding-bottom: 20px;
    padding-top: 14px;
}

.menu ul li :hover{
    background-color: white;
    color: black;
}

.image img{
    width: 45%;
    height: 45%;
    float:left;
    padding-left: 50px;
}

.sponsor{
    background-color: white;
    width: 700px;
    height: 430px;
}
.banner-maker{
    float: right;
    padding-right: 80px;
    padding-top: 30px;
}

.banner-maker h1{
    padding-top: 5px;
    color: black;
    line-height: 50px;
    font-size: 70px;
    font-weight: 500;
    padding-left: 10px;
}

.banner-maker h2{
    padding-top: 15px;
    padding-left: 10px;
    color: #8abbca;
}

.banner-maker h4{
    padding-top: 15px;
    line-height: 20px;
    padding-left: 10px;
}

.banner-maker p {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #8abbca;
    color: white;
    font-style:none;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    border-radius:3px;
    padding: 10px 90px;
}

.banner-maker p a{
    margin: auto;
    color: white;
    text-decoration: none;
}

.artikel{
    padding-top: 20px;
}

.kiri{
    float: left;
    width: 50%;
}

.kanan{
    float: right;
    width: 50%;
    padding-left: 20px;
}

.artikel h3{
    color: #8abbca;
    padding-top: 10px;
}

.artikel p{
    padding-top: 8px;
    line-height: 16px;
}

.tipe3 img{
    padding-top: 0px;
    margin: 0px;
    padding-bottom: 30px;
}

.tipe2 img{
    padding-top: 0px;
    margin: 0px;
    padding-bottom: 30px;
}

.tipe1 img{
    padding-top: 0px;
    margin: 0px;
    padding-bottom: 20px;
}

.copyright{
    background-color: #3c444b;
    width:700px;
    height: 30px;
    margin: 520px 0px;
}

.copyright p{
    color: white;
    padding-left: 240px;
    padding-top: 5px;
}


